.cor-0{
    color: #000;
}
.cor-1{
    color: #111;
}
.cor-2{
    color: #222;
}
.cor-3{
    color: #333;
}
.cor-4{
    color: #444;
}
.cor-5{
    color: #555;
}
.cor-6{
    color: #666;
}
.cor-7{
    color: #777;
}
.cor-8{
    color: #888;
}
.cor-9{
    color: #999;
}
.cor-f{
    color: #fff;
}
.cor-blue{
    color: rgb(84, 114, 234);
}
.cor-b{
    color: #00CCFF;
}
.cor-bc{
    color: #A0ECFD;
}