.h010{
    height: 10%;
}
.h020{
    height: 20%;
}
.h030{
    height: 30%;
}
.h040{
    height: 40%;
}
.h050{
    height: 50%;
}
.h060{
    height: 60%;
}
.h070{
    height: 70%;
}
.h080{
    height: 80%;
}
.h090{
    height: 90%;
}
.h100{
    height: 100%;
}
/* --------------------- */
.w010{
    width: 10%;
}
.w020{
    width: 20%;
}
.w021{
    width: 21%;
}
.w022{
    width: 22%;
}
.w023{
    width: 23%;
}
.w024{
    width: 24%;
}
.w025{
    width: 25%;
}
.w030{
    width: 30%;
}
.w040{
    width: 40%;
}
.w050{
    width: 50%;
}
.w060{
    width: 60%;
}
.w070{
    width: 70%;
}
.w075{
    width: 75%;
}
.w080{
    width: 80%;
}
.w090{
    width: 90%;
}
.w100{
    width: 100%;
}